h1{
    font-family: Arial, Helvetica, sans-serif;
    color:#000;
    
} 

h2, li {
    font-family: Helvetica, sans-serif;
    color: #444;
}

.showingData{
    display: none;
}

#CartelPelicula{
    margin-bottom: 20px;
}