<div id="Contenedor">

    <h1>{{TituloPagina}}</h1>
    <h2>Listado 2017</h2>
    <button (click)="onShowHide(true)" [class.showingData]="MostrarDatos===true">Mostrar Informacion</button>
    <button (click)="onShowHide(false)" [class.showingData]="MostrarDatos===false">Ocultar Informacion</button>
        <ul *ngIf="MostrarDatos === true">
            <li>Titulo: {{Pelicula.Titulo}}</li>
            <li>Director: {{Pelicula.Director}}</li>
            <li>Año: {{Pelicula.Anio}}</li>
        </ul>
</div>