<div id="Contenedor">
    <h1>{{TituloPagina}}</h1>
    <h2>Mejor Pelicula 2017</h2>
    <button (click)="onShowHide(true)" [class.showingData]="MostrarDatos===true">Mostrar Informacion</button>
    <button (click)="onShowHide(false)" [class.showingData]="MostrarDatos===false">Ocultar Informacion</button>
        <ul *ngIf="MostrarDatos === true">
            <li>Titulo: {{Pelicula.Titulo}}</li>
            <li>Director: {{Pelicula.Director}}</li>
            <li>Año: {{Pelicula.Anio}}</li>
        </ul>
        <p>
            Cambiar Titulo:
        <input type="text" (keypress)="debug(true)" [(ngModel)]="Pelicula.Titulo">

        </p>

        <hr/>

        <h2>Peliculas 2017</h2>
        <ul>
            <ul *ngFor="#Pelicula of Peliculas" id="CartelPelicula">
                <li>Titulo: {{Pelicula.Titulo}}</li>
                <li>Director: {{Pelicula.Director}}</li>
                <li *ngIf="Pelicula.Anio">Año: {{Pelicula.Anio}}</li>
            </ul>
        </ul>
</div>